body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2b2b;
}


header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}


.hero {
    text-align: center;
    background-color: #4d4b4b;
    padding: 20px;
}

.img-principal {
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}


.conteudo {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

.conteudo h2,
.conteudo h3 {
    color: #333;
}

.conteudo p {
    line-height: 1.5;
}


ul {
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}